<div class="responsive">
    <div class="gallery">
        <%= link_to_image r.photo, recipe_path(r), width:"600", height:"400" %>
        <div class="desc"><%= link_to r.title, r  %></div>
    </div>
</div>