<h1><%=@recipe.title%></h1>



<table class="table">
  <thead>
    <th colspan="3"></th>
  </thead>
  <tbody>
        <tr>
            <td><strong>Amount</strong></td>
            <td><strong>Ingredient</strong></td>
        </tr>
        <% @recipe.measurements.each do |m| %>
        <tr> 
            <td> <%= m.amount %></td>
            <td> <%= m.ingredient.name %> </td>
        </tr>
            <% end %>
  </tbody>
</table>

<div>
    <%= @recipe.instructions %>
</div>
