<h1><%=@recipe.title%></h1>


<div>
    <table class="table">
    <thead>
        <th colspan="3"></th>
    </thead>
    <tbody>
            <tr>
                <td><strong>Amount</strong></td>
                <td><strong>Ingredient</strong></td>
            </tr>
            <% @recipe .recipe_ingredients.each do |ing| %>
                <% i = Ingredient.find_by_id(ing.ingredient_id) %>
            <tr> 
                <td> <%= ing.display_amount %></td>
                <td> <%= i.name %> </td>
            </tr>
                <% end %>
    </tbody>
    </table>
</div>

<div>
    <%= @recipe.instructions %>
</div>
