<br><br>
<div class="container-sm ">
    <div class="jumbotron">
        <h2 class="display-4">Join the party.</h2>
        <%= render 'form' %>
        <div style="width: 50%" class="center">
         <hr>
            <%= render "sessions/google" %>
        </div>
    </div>
</div>