<p> <%= display_name %> </p>
<p> <%= edit_username %> </p>


<p> <%= link_to 'Reviews', user_reviews_path(@user) %> </p>

<h4> Favorited Recipes: </h4>

<% @user.reviews.select_favorites.each do |r| %>
    <li><%= link_to r.recipe.title, r.recipe %></li><br>
<% end %>


