<% if current_user == @user %>
    <h3>Hiya, <%=display_name%> </h3>
<% else %>
    <%= @user.name %>'s Recipes 
<% end %>


<div>
    <a class="navbar-button" <%= link_to "Browse Recipes", recipes_path %></a>

</div>

<h4> Favorited Recipes: </h4>

<% display_favorite_recipes.each do |r| %>
    <li><%= link_to r.title, r %></li><br>
<% end %>