<div class="form-group">
  <fieldset>
    <label class="control-label" for="readOnlyInput">Readonly input</label>
    <input class="form-control" id="readOnlyInput" type="text" placeholder="Readonly input here..." readonly="">
  </fieldset>
</div>
 <%= ing.label :amount, class: "control-label"  %>

    <%= i.label :ingredient, class:"col-sm-2 col-form-label" %>