<div class="jumbotron">
  <h1 class="display-3">Welcome to Drachenfutter</h1>
  <p class="lead">Do you ever say you're going out for <i>just one</i> drink and end up staying out until you witness the break of a new day? Perhaps you left a significant other at home, angrily steeping in concern while awaiting your return. 
  <u>Drachenfutter in German means "dragon food."</u> It specifically refers to the treats or food one may bring their beloved in an attempt to divert any discontent upon returning home after a night of debauchery.</p>
  <hr class="my-4">
  <p>Come hungry and leave...well, still hungry. We don't actually make the recipes for you - not yet at least - but we're confident you'll find something delicious. Hey - maybe you'll even make a food-friend or two along the way (Or replace your grouchy dragon at home with a rad person who likes to eat and drink. We won't tell.)</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" href="<%= signup_path %>"> Sign Up </a>
    <a class="btn btn-primary btn-lg" role="button" href="<%= login_path %>"> Log In </a>
  </p>
</div>
<% @recipes.each do |r|%>
            <%= render partial: 'recipes/recipe_grid', locals: {r: r} %>
        <% end %>