<br><br><br>
<div class="jumbotron">
  <h1 class="display-3">Welcome to Drachenfutter</h1>
  <p class="lead">Ever say you're just going out for one beer and end up staying out til the wee hours of the morning? Possibly even leaving a signifant other at home, angrily steeping in rage while awaiting your return. 
  Drachenfutter in German means "dragon food" and refers to the treats or food that one may bring their significant other when they've stayed out late to divert any angry sentiments.</p>
  <hr class="my-4">
  <p>Come hungry, leave...well, still hungry. We don't actually make the recipes for you - not yet at least.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
