<div class="container">
<h6 class="card-subtitle mb-2 text-muted"><%= link_to r.user.username, r.user %>'s review for <i><%=link_to r.recipe.title, r.recipe%></i></h6>
    <p class="card-text">"<%= r.content %>" </p>
    <p class="card-text">Rating: <%= r.rating %></p>
<hr>
</div> 