<br><br>
<div class="container-sm ">
    <div class="jumbotron">
        <h2 class="display-4">Tell us what you really think.</h2>
        <%= render 'form' %>
    </div>
</div>


<div style="width: 100%">
    <div style="width: 50%; float: right"> 
        <% if @recipe.reviews %> 
                <% @recipe.reviews.order_by_date.each do |r| %>
                    <%= render partial: 'reviews/display_review', locals: {r: r} %>
                <% end %>
            <% end %>
    </div>
</div>